<div>
    <!--Body content-->
    <ul class="itemList">
        <!-- header-->
        <li class="page-header">
            <h3>Таски
                <a href="#/task/new" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i> Новый</a>
            </h3>
        </li>

        <!-- search form-->
        <li class="thumbnail ">
            <fieldset class="form-inline search">

                <div class="control-group item">
                    <label class="control-label">Искать по строке:</label>

                    <input type="text" class="input-medium" ng-model="searchName"
                           ng-change="changeUrlSearch()">


                    <label class="control-label"> Дата с:</label>

                    <div class="control-group input-append">
                        <input id="dateFromInput" class="input-small" type="text" ng-model="searchDateFrom.date"
                               bs-datepicker ng-change="changeUrlSearch()">
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i>
                        </button>
                    </div>

                    <label class="control-label" for="dateToInput">по:</label>

                    <div class="control-group input-append">

                        <input id="dateToInput" class="input-small" type="text" ng-model="searchDateTo.date"
                               bs-datepicker ng-change="changeUrlSearch()">
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i>
                        </button>
                    </div>

                </div>

            </fieldset>

        </li>
        <!-- list of items-->
        <li ng-repeat="task in items | filter:searchName | betweenDate:(searchDateFrom.date):(searchDateTo.date) | showPage:pagination"
            class="thumbnail">


            <fieldset class="form-horizontal">
                <legend>
                    <a href="#/task/{{task.id}}">{{task.task_description}}</a>
                </legend>
                <div class="control-group item">
                    <label class="control-label">Источник:</label>

                    <div class="controls">
                        <p>{{(sources | getById:task.source_id).name}}</p>
                    </div>
                </div>
                <div class="control-group item">
                    <label class="control-label">URL:</label>

                    <div class="controls">
                        <a href="{{source.url}}" target="_blank">{{task.task_url}}</a>
                    </div>
                </div>
                <div class="control-group item">
                    <label class="control-label">Сканировался:</label>

                    <div class="controls">
                        <p>{{task.parsedDate | date:'HH:mm d MMMM y'}}</p>
                    </div>
                </div>
                <div class="control-group item">
                    <label class="control-label">Статус:</label>

                    <div class="controls">
                        <p>{{(statuses | getByType:task.task_status_type).name}}</p>
                    </div>
                </div>
            </fieldset>


        </li>
    </ul>

    <!--pager-->

    <ui-pagination current-page="pagination.currentPage" total-pages="pagination.total"
                   items-per-page="{{pagination.itemsPerPage}}" total-items="{{items.length}}"></ui-pagination>

</div>