<div>
    <ul class="itemList">
        <!-- header-->
        <li class="page-header">
            <h3>{{["Создание", "Редактирование"][(item.id != '' )+0]}} таска</h3>
        </li>

        <li class="thumbnail">
            <form name="taskForm" class="form-horizontal">
                <fieldset>
                    <div class="control-group"
                         ng-class="{error: taskForm.inputName.$invalid}">
                        <label class="control-label" for="inputName">Название</label>

                        <div class="controls">
                            <input type="text" ng-model="item.name" name="inputName" id="inputName"
                                   placeholder="Название" required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputUrl">URL</label>

                        <div class="controls">
                            <input type="text" ng-model="item.url" name="inputUrl" id="inputUrl" placeholder="URL">
                        </div>
                    </div>

                    <div class="control-group" ng-class="{error: taskForm.selectSource.$invalid}">
                        <label class="control-label" for="selectSource">Источник</label>

                        <div class="controls">
                            <select type="text" ng-model="item.source_id" name="selectSource" id="selectSource" required
                                    ng-options="src.id as src.name for src in sources">
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputName">Атрибуты</label>

                        <div class="controls">
                            <textarea rows="4" ng-model="item.attr" id="inputAttr"></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="button" class="btn btn-success"
                                ng-disabled="sourceForm.$invalid||sourceForm.$pristine"
                                ng-click="save()">
                            <i class="icon-ok"></i> Сохранить
                        </button>
                        <a class="btn" href="#/task"><i class="icon-remove"></i> Отменить</a>
                    </div>
                </fieldset>
            </form>
        </li>

    </ul>
</div>