<div>
    <!--Body content-->
    <ul class="itemList">
        <!-- header-->
        <li class="page-header">
            <h3>Источники
                <a href="#/source/new" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i>Новый</a>
            </h3>
        </li>

        <!-- search form-->
        <li class="thumbnail ">
            <fieldset class="form-inline search">

                <label class="control-label">Параметры поиска:</label>

                <input type="text" class="input-mid" ng-model="search.name" placeholder="Имя"
                       ng-change="changeUrlSearch()">
                <input type="text" class="input-mid" ng-model="search.url" placeholder="URL"
                       ng-change="changeUrlSearch()">
            </fieldset>
        </li>
        <!-- list of items-->
        <li ng-repeat="source in items | filter:search | showPage:pagination" class="thumbnail">


            <fieldset class="form-horizontal">
                <legend>
                    <a href="#/source/{{source.id}}">{{source.name}}</a>
                </legend>

                <div class="item pull-right">

                    <div class="btn-toolbar ">
                        <button class="btn btn-danger" ng-click="delete(source.id)"><i
                                class="icon-trash icon-white"></i>
                            Удалить
                        </button>
                    </div>
                </div>

                <div class="pull-left">
                    <div class="control-group item">
                        <label class="control-label">URL:</label>

                        <div class="controls">
                            <a href="{{source.url}}" target="_blank">{{source.url}}/</a>
                        </div>
                    </div>
                    <div class="control-group item">
                        <label class="control-label">Атрибуты:</label>

                        <div class="controls">
                            <p>{{source.attr}}</p>
                        </div>
                    </div>
                    <div class="control-group item">
                        <label class="control-label">Логин пользователя:</label>

                        <div class="controls">
                            <p>{{source.login}}</p>
                        </div>
                    </div>
                </div>
            </fieldset>


        </li>
    </ul>

    <!--pager-->

    <ui-pagination current-page="pagination.currentPage" total-pages="pagination.total"
                   items-per-page="{{pagination.itemsPerPage}}" total-items="{{items.length}}"></ui-pagination>

</div>