<div>
    <!--Body content-->
    <ul class="itemList">
        <!-- header-->
        <li class="page-header">
            <h3>Таски
                <a href="#/scope/new" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i> Новый</a>
            </h3>
        </li>

        <!-- search form-->
        <li class="thumbnail ">
            <fieldset class="form-inline search">

                <div class="control-group item">
                    <label class="control-label">Искать по строке:</label>

                    <input type="text" class="input-medium" ng-model="searchName"
                           ng-change="changeUrlSearch()">


                    <label class="control-label"> Дата с:</label>

                    <div class="control-group input-append">
                        <input id="dateFromInput" class="input-small" type="text" ng-model="searchDateFrom.date"
                               bs-datepicker ng-change="changeUrlSearch()">
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i>
                        </button>
                    </div>

                    <label class="control-label" for="dateToInput">по:</label>

                    <div class="control-group input-append">

                        <input id="dateToInput" class="input-small" type="text" ng-model="searchDateTo.date"
                               bs-datepicker ng-change="changeUrlSearch()">
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i>
                        </button>
                    </div>

                </div>

            </fieldset>

        </li>
        <!-- list of items-->
        <li ng-repeat="scope in items | filter:searchName | betweenDate:(searchDateFrom.date):(searchDateTo.date) | showPage:pagination"
            class="thumbnail">


            <fieldset class="form-horizontal">
                <!--<a href="#/scope/{{scope.id}}">{{scope}}</a>-->


                <legend>
                    <a href="#/scope/{{scope.id}}">{{scope.name}}</a>
                </legend>

                <div class="item pull-right">

                    <div class="btn-toolbar ">
                        <a class="btn btn-primary" href=""><i class="icon-list-alt icon-white"></i> Лента</a>
                        <a class="btn " href=""><i class="icon-file "></i> Отчет</a>
                        <a class="btn " href=""><i class="icon-comment "></i> Рецензировать</a>
                        <button class="btn btn-danger" ng-click="delete(scope.id)"><i class="icon-trash icon-white"></i>
                            Удалить
                        </button>
                    </div>
                </div>

                <div class="pull-left">
                    <div class="control-group item">
                        <label class="control-label">Описание:</label>

                        <div class="controls">
                            <p>{{scope.description}}</p>
                        </div>
                    </div>

                    <div class="control-group item">
                        <label class="control-label">Сканировался:</label>

                        <div class="controls">
                            <p>{{scope.task_last_date | date:'HH:mm d MMMM y'}}</p>
                        </div>
                    </div>

                    <div class="control-group item">
                        <label class="control-label">Таски:</label>

                        <!--<div class="controls">-->
                        <!--<p>{{(tasks | getById:scope.source_id).name}}</p>-->
                        <!--</div>-->
                    </div>
                </div>

            </fieldset>


        </li>
    </ul>

    <!--pager-->

    <ui-pagination current-page="pagination.currentPage" total-pages="pagination.total"
                   items-per-page="{{pagination.itemsPerPage}}" total-items="{{items.length}}"></ui-pagination>

</div>