<div>
    <ul class="itemList">
        <!-- header-->
        <li class="page-header">
            <h3>{{item.id && "Редактирование" || "Создание"}} скоупа</h3>
        </li>


        <li class="thumbnail">
            <form name="taskForm" class="form-horizontal">
                <fieldset>
                    <div class="control-group"
                         ng-class="{error: taskForm.inputName.$invalid}">
                        <label class="control-label" for="inputName">Название</label>

                        <div class="controls">
                            <input type="text" ng-model="item.name" name="inputName" id="inputName"
                                   placeholder="Название" ng-required="true">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputDescription">Описание</label>

                        <div class="controls">
                            <input type="text" ng-model="item.description" name="inputDescription" id="inputDescription"
                                   placeholder="Описание">
                        </div>
                    </div>

                    <div class="control-group" ng-class="{error: taskForm.selectSource.$invalid}">
                        <label class="control-label" for="selectTask">Таски</label>

                        <div class="controls">
                            <select data-placeholder="Выберите таски..." multiple class=" chzn-select" chosen
                                    id="selectTask" ng-model="item.tasks"
                                    ng-options="task.id as task.name for task in tasks">
                            </select>

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputName">Атрибуты</label>

                        <div class="controls">
                            <textarea rows="4" ng-model="item.attr" id="inputAttr"></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="button" class="btn btn-success"
                                ng-disabled="sourceForm.$invalid||sourceForm.$pristine"
                                ng-click="save()">
                            <i class="icon-ok"></i> Сохранить
                        </button>
                        <a class="btn" href="#/scope"><i class="icon-remove"></i> Отменить</a>
                    </div>
                </fieldset>
            </form>
        </li>

    </ul>
</div>